.site-wrap[data-theme='light'] {
  --body-bg: #ffffff;
  --theme-color: #fb873c;
  --light-bg-color: #f7f8fb;
  --text-color-normal: #3d4452;
  --text-color-dark: #1a202b;
  --text-color-light: #a1a6b1;
  --border-color: #e8e9eb;
  --error: #ff073a;
  --success: #28a745;
  --shadow: -8px 8px 0 rgba(0, 0, 0, 0.08);
  --white: #fff;
  --black: #000;
}

.site-wrap[data-theme='dark'] {
  --body-bg: #12181b;
  --theme-color: #fb873c;
  --light-bg-color: #1f2529;
  --text-color-normal: #c2c3c7;
  --text-color-dark: #ebebec;
  --text-color-light: #929399;
  --border-color: #353746;
  --error: #eb4559;
  --success: #28a745;
  --shadow: -8px 8px 0 rgba(255, 255, 255, 0.12);
  --white: #fff;
  --black: #000;
}

// pc端样式
@media screen and (min-width: 768px) {
  .site-wrap {
    background-color: var(--body-bg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 88px;
    .site-header-container {
      width: 100%;
      height: 88px;
      background-color: var(--body-bg);
      z-index: 10;
      transition: all 0.3s ease-in-out;
      position: fixed;
      top: 0;
      &.sticky {
        height: 64px;
      }
      &.hide {
        transform: translateY(calc(-100% - 1px));
      }
    }
  }
}

// mobile端样式

// 主题色变化
p,
div,
li {
  color: var(--text-color-normal);
}
