// common styles

.site-header {
  .container {
    width: 100%;
    .site-name {
      font-size: 16px;
      font-weight: bold;
      color: var(--text-color-dark);
      text-decoration: none;
    }
    .header-right {
      .header-nav-wrap {}
      .nav-icon {
        svg {
          width: 20px;
          height: 20px;
          fill: var(--text-color-normal);
        }
      }
    }
  }
  .mobile-nav-wrap {
    .close-mobile-nav-wrap {}
  }
}

// Mobile devices, iPad,Tablets
@media screen and (max-width:768px ) {
  
}


// Small screen,and desktops,and more on
@media screen and (min-width: 769px) {
  .site-header {
    padding: 0 40px;
    box-sizing: border-box;
    .container {
      .site-name {
        display: flex;
        align-items: center;
      }
      .header-right {
        flex: 1;
        justify-content: flex-end;
        align-items: center;
        .header-nav-wrap {
          margin-right: 20px;
          .nav-item {
            margin-right: 20px;
            height: 40px;
            line-height: 40px;
            padding: 0 10px;
            &:hover {
              .hover-line {
                width: 100%;
              }
            }

            .link {
              text-decoration: none;
              color: var(--text-color-normal);
            }
            .hover-line {
              width: 0;
              height: 4px;
              border-radius: 2px;
              background-color: lightcoral;
              transition: width 0.2s ease-in-out;
            }
          }
        }
        .open-mobile-menu-icon {
          display: none;
        }
      }
      .backdrop {
      }
    }
    .mobile-nav-wrap {
      display: none;
    }
  }
}

// mobile端
@media screen and (max-width: 991px) {
  .site-header {
    .container {
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 16px;
      box-sizing: border-box;
      .header-nav-wrap {
        display: none;
      }
    }
    .mobile-nav-wrap {
      background: var(--body-bg);
      position: fixed;
      top: 0;
      right: -260px;
      visibility: hidden;
      border-left: 1px solid var(--border-color);
      opacity: 0;
      width: 260px;
      max-width: calc(100vw - 44px);
      height: 100%;
      padding: 60px 32px 24px 32px;
      overflow-y: auto;
      z-index: 1060;
      transition: right 0.3s ease-in-out, visibility 0s 0.3s, opacity 0s 0.3s;
      box-sizing: border-box;
      &.open {
        right: 0;
        visibility: visible;
        opacity: 1;
        transition: right 0.3s ease-in-out, visibility 0s 0s, opacity 0s 0s;
      }
      .nav-wrap {
        .nav-item {
          height: 28px;
          margin-bottom: 10px;
          .link {
            text-decoration: none;
            font-size: 14px;
            color: var(--text-color-normal);
          }
        }
      }
      .close-mobile-nav-wrap {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        color: var(--text-color-normal);
        z-index: 1060;
      }
    }

    .backdrop {
      border: 1px solid salmon;
      display: none;
    }
    .full-mask {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: var(--body-bg);
      opacity: 0.8;
    }
  }
}

.site-header {
  width: 100%;
  height: 100%;
  background-color: var(--body-bg);
}

.logo {
  .logo-text {
    font-size: 1rem;
    line-height: 32px;
    font-weight: 700;
    margin-top: 0;
    color: var(--text-color-normal);
    text-decoration: none;
  }
}
.header-right {
  .nav-icon {
    margin-right: 26px;
    margin-top: 4px;
    cursor: pointer;
    &:last-of-type {
      margin-right: 0;
    }

  }
  .menu-icon {
    height: 20px;
    width: 28px;
    cursor: pointer;
    transition: 0.25s;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .line {
      width: 100%;
      height: 2px;
      background-color: var(--text-color-normal);
    }
  }
}

svg {
  width: 20px;
  height: 20px;
}
.flex {
  display: flex;
}
