.site-footer {
  padding: 60px 20px;
  .row {
    justify-content: space-around;
    align-items: flex-start;
    .title {
      margin-bottom: 20px;
      color: var(--text-color-light);
    }
    .item {
      margin-right: 20px;
      margin-bottom: 16px;
    }
    .tag-list {
      .tag-list-inner {
        width: 20vw;
        flex-wrap: wrap;
      }
    }
    .self-production {
      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }
  .site-description {
    width: 100%;
    text-align: center;
  }
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
